@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Mooli&display=swap');

:root {
    --primary-color: #070D59;
    --secondary-color: #386641;
    --accent1-color: #D3F3EE;
    --accent2-color: #C9E1E4;

    --heading-font: "Gloock", serif;
    --default-font: "Mooli", sans-serif;

    --nav-bg-color: #070D59;
    --nav-link-color: #C9E1E4;
    --nav-hover-link-color: #D3F3EE;
    --nav-hover-bg-color: #386641;
}

body {
    font-family: var(--default-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 15px;
    background-color: var(--accent1-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-bg-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
}